
@{
    Layout = null;
}

<footer class="main-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <p>Your company &copy; @DateTime.Now.Year</p>
            </div>
            <div class="col-sm-6 text-right">
                <p>Design by &copy; MyStore</p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </div>
        </div>
    </div>
</footer>
